In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset=pd.read_excel('salary.xlsx')

In [4]:
dataset

     Location  Age   Experiece   Salary Married
0     Kolkata    42         10  45000.0     YES
1       Delhi    31          3  32000.0      NO
2      Mumbai    33          4  34000.0      NO
3  Chandigarh    32          5      NaN      NO

In [5]:
X=dataset.iloc[:,:-1].values

In [9]:
Y=dataset.iloc[:,3].values

In [7]:
X

array([['Kolkata', 42, 10, 45000.0],
       ['Delhi', 31, 3, 32000.0],
       ['Mumbai', 33, 4, 34000.0],
       ['Chandigarh', 32, 5, nan]], dtype=object)

In [10]:
Y

array([45000., 32000., 34000.,    nan])

In [14]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values="NaN",strategy='mean',fill_value='None')